@font-face {
    font-family: 'bebas';
    src: url('BebasNeue-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }


/*Start CSS Reset Code
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}
/*End Reset Code*/

::selection {
    background-color: blue;
}

body {
    font-family: 'Arial', sans-serif;
    background: rgb(54,76,184);
    background: radial-gradient(circle, rgba(54,76,184,1) 0%, rgba(252,70,239,1) 100%);
}

#nav {
    background-color: black;
    text-align: center;
    padding: 5px 

}

#nav > * {
    padding-left: 10px;
    padding-right: 10px;

}

#nav button {
    background-color:  #bcb88a00;
    color:white;
    padding: 5px;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    border: 0px;

}

.fa-space-awesome {
    color:white;
}

#nav button:hover {
    color: blue;
    text-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe,
    0 0 2.8rem #bc13fe,
    inset 0 0 1.3rem #bc13fe; 
}

#hero {
    padding-top: 10px;
    text-align: center;

}

h1 {
    text-align: center;
    font-family: 'bebas', sans-serif;
    font-size: 60px;
    padding-top: 30px;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #bc13fe,
    0 0 82px #bc13fe,
    /* 0 0 92px #bc13fe,
    0 0 102px #bc13fe,
    0 0 151px #bc13fe; */
}

h3 {
    font-family: 'bebas';
    font-weight: 400;
    font-size: 30px;
}



#infoArea {
    width: 1200px;  
    background-color: black;
    margin: auto;
    text-align: center;
    display: block;
    grid-template-columns: 400px 400px;
    background-color: black;
    padding: 30px 50px 30px 50px;
    width: 1200px;    
    margin: auto;
    text-align: center;
    border-radius: 2rem;
    box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #bc13fe,
            0 0 0.8rem #bc13fe,
            0 0 2.8rem #bc13fe,
            inset 0 0 1.3rem #bc13fe; 
}


#infoContainer {
   display: block;
    width: 800px;    
    margin: auto;
    text-align: center;   

    
}

#info {
    color:white;
    display: grid;
    grid-template-columns: 400px 400px;
    text-align: center;
    
}


#menuItemsArea {
    color:white;
    background-color: black;
    margin: 50px 50px;
    padding: 30px 50px 30px 50px;
    width:1200px;
    margin: 20px auto;
    text-align: center;
    border-radius: 2rem;
    box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #bc13fe,
            0 0 0.8rem #bc13fe,
            0 0 2.8rem #bc13fe,
            inset 0 0 1.3rem #bc13fe; 
   
}


.menuItems {
    display:grid;
    grid-template-columns: 150px 300px 150px 300px;
    grid-column-gap: 20px;
    width:800px;
    margin: 20px auto;
    padding-left: -20px;


}


#info div p {
   font-size: 18px;
}


.hidden {
    display:none;
}



.menuItems div {
    text-align: left;
}



