/*Start CSS Reset Code
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/*End Reset Code*/

@font-face {
    font-family: 'bebas';
    src: url('BebasNeue-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


:root {
    --brightAccent: #bc13fe;
  }


::selection {
    background-color: var(--brightAccent),
}

body {
    font-family: 'Arial', sans-serif;
    background: rgb(54, 76, 184);
    background: radial-gradient(circle, rgba(54, 76, 184, 1) 0%, rgba(252, 70, 239, 1) 100%);
}

/*Nav*/

#nav {
    background-color: black;
    text-align: center;
    padding: 5px
}

#nav>* {
    padding-left: 10px;
    padding-right: 10px;
}

#nav button {
    background-color: black;
    color: white;
    padding: 5px;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    border: 0px;
}

#nav button:hover {
    color: var(--brightAccent);
}


.fa-space-awesome {
    color: white;
}

/*Body*/


#hero {
    padding-top: 10px;
    text-align: center;
}

h1 {
    text-align: center;
    font-family: 'bebas', sans-serif;
    font-size: 60px;
    padding-top: 30px;
}

h3 {
    font-family: 'bebas';
    font-weight: 400;
    font-size: 30px;
}

#infoArea, #menuItemsArea

{
    width: 1200px;
    margin: 20px auto;
    background-color: black;
    color: white;
    border-radius: 2rem;
    box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem var(--brightAccent),
        0 0 0.8rem var(--brightAccent),
        0 0 2.8rem var(--brightAccent),
        inset 0 0 1.3rem var(--brightAccent);
}


#infoArea {
    grid-template-columns: 400px 400px;
    padding: 30px 50px 30px 50px;
}


#infoContainer {
    display: block;
    width: 800px;
    margin: auto;
}

#info {
    color: white;
    display: grid;
    grid-template-columns: 400px 400px;
    grid-column-gap: 20px;
}

#menuItemsArea {
    padding: 30px 50px 30px 50px;
    margin: 20px auto;
    border-radius: 2rem;
}

.menuItems {
    display: grid;
    grid-template-columns: 150px 300px 150px 300px;
    grid-column-gap: 20px;
    width: 800px;
    margin: 20px auto;
    padding-left: -20px;
}


#info div p {
    font-size: 18px;
}


.menuItems div {
    text-align: left;
}


#footer {
    background-color: black;
    color: white;
    padding: 5px;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

#finePrint {
    font-style: italic;
    font-size: 0.8rem;
}